<article itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
  {{- if .Params.thumbnail -}}
  <div>
    <figure>
      <a href="{{ .Permalink }}">
        <img src="{{ .Params.thumbnail | absURL }}" alt="{{ .Title }}" />
      </a>
    </figure>
  </div>

  {{- else -}}
  {{- if or (.Params.video.url) (.Params.video.poster) -}}
  <div>
    <a href="{{ .Permalink }}">
      <video poster="{{ .Params.video.poster | absURL }}" width="100%" controls>
        <source src="{{ .Params.video.url | absURL }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </a>
  </div>
  {{- end -}}
  {{- end -}}
  <div>
    <header class="post-list-title">
      <a href="{{ .Permalink }}">
        <h4 itemprop="headline">{{ .Title }}</h4>
      </a>
      <div class="metadata">
        <span class="fa fa-clock-o"></span>
        <time datetime="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">{{ .Date.Format "January 02, 2006" }}</time>
      </div>
    </header>
    <div class="post-list-summary" itemprop="description">
      <p>
        {{- $page := . -}}
        {{- with .Description -}}
          {{ . | plainify | htmlUnescape | replaceRE "(?m)(\\s+)" " " }} <a href="{{ $page.Permalink }}">[More...]</a>
        {{- else -}}
          {{ .Summary | plainify | htmlUnescape | replaceRE "(?m)(\\s+)" " " }}{{ if .Truncated }} <a href="{{ $page.Permalink }}">[More...]</a>{{ end }}
        {{- end -}}
      </p>
    </div>
  </div>
</article>
